<a href="https://colab.research.google.com/github/ASztojanov/First-save/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [12]:
x=4
if x%2 ==0:
  print("This is an even number")

This is an even number

In [14]:
x=0.2
if x%2==0:
  print("This is an even number!")
else:
  print("This is an odd number")

This is an odd number

In [16]:
a=12
b=13
if a<b:
  print("the first value is smaller than the second")
elif a==b:
  print("The first value is equal to the second")
else:
  print("The first value is greater than the second")

the first value is smaller than the second

In [21]:
a=-0.1
if a>0:
  print("The number is positive")
elif a<0:
  print("The number is negative")  
else:
  print("The number is zero")

The number is negative

In [22]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
for i in range(0,11):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5
The iteration number is 6
The iteration number is 7
The iteration number is 8
The iteration number is 9
The iteration number is 10

In [30]:
targetvalue  =10
iterate =0
while iterate<targetvalue:
  print("iteration no is {}, which is less than the target value {}".format(iterate,targetvalue))
  iterate =iterate+1
print("THE END!")

iteration no is 0, which is less than the target value 10
iteration no is 1, which is less than the target value 10
iteration no is 2, which is less than the target value 10
iteration no is 3, which is less than the target value 10
iteration no is 4, which is less than the target value 10
iteration no is 5, which is less than the target value 10
iteration no is 6, which is less than the target value 10
iteration no is 7, which is less than the target value 10
iteration no is 8, which is less than the target value 10
iteration no is 9, which is less than the target value 10
THE END!

In [34]:
colours =["Black", "Blue", "Red", "White"]
cars =["Range", "Tesla", "Ford"]
for colour in colours: #outer loop
  for car in cars: #inner loop
    print(colour, car)

Black Range
Black Tesla
Black Ford
Blue Range
Blue Tesla
Blue Ford
Red Range
Red Tesla
Red Ford
White Range
White Tesla
White Ford

In [46]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [52]:
targetvalue =5
iterate =0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than target value {}".format(iterate,targetvalue))
  if iterate==5:
   break
  iterate = iterate+1

Iteration number is 0, which is less than target value 5
Iteration number is 1, which is less than target value 5
Iteration number is 2, which is less than target value 5
Iteration number is 3, which is less than target value 5
Iteration number is 4, which is less than target value 5

In [60]:
names=["Sylvie", "Mercy", "Kate", "Zara"]
for name in names:
  if name == "Kate":
   continue
  print(i)

5
5
5

# **LISTS**

In [67]:
mylist=["Michael", "Sean", "Adam"]
type(mylist)

list

In [68]:
mylist=["Michael", "Sean", "Adam"]
mylist.insert(0, "Zara")
print(mylist)

['Zara', 'Michael', 'Sean', 'Adam']

In [71]:
mylist=["Michael", "Sean", "Adam"]
mylist.append("Paul")
print(mylist)

['Michael', 'Sean', 'Adam', 'Paul']

In [72]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Elina", "John"]
mylist2.extend(mylist1)
print(mylist1)

['Michael', 'Sean', 'Adam']

In [73]:
mylist=["Michael", "Sean", "Adam"]
mylist.pop()
print(mylist)

['Michael', 'Sean']

In [74]:
mylist1=["Michael", "Sean", "Adam"]
mylist.sort(reverse=True)
print(mylist)

['Sean', 'Michael']

In [75]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Elina", "John"]
print(mylist2+mylist1)

['Zara', 'Elina', 'John', 'Michael', 'Sean', 'Adam']

In [77]:
mylist=["Barclays", "Lloyds", "Santander"]
mylist.sort(reverse=True)
print(mylist)

['Santander', 'Lloyds', 'Barclays']

In [79]:
mylist= ["apple", "banana", "pinapple", "pear", "orange", "grapes"]
newitem=input("please enter the name of the fruit (small letter):")
if newitem in mylist:
  print("The fruit exist")
else:
  mylist.append(newitem)
  print(mylist)

please enter the name of the fruit (small letter):pear
The fruit exist

In [83]:
mylist= ["apple", "banana", "pinapple", "pear", "orange", "grapes"]
for i in mylist:
  print(i)

apple
banana
pinapple
pear
orange
grapes

In [88]:
mylist= ["apple", "banana", "pinapple", "pear", "orange", "grapes"]
for i in range(len(mylist)):
  print(i, mylist[i])

0 apple
1 banana
2 pinapple
3 pear
4 orange
5 grapes

In [92]:
x=[1,2,3,4,5,6,7]#conventional method
#y=2,4,6,8,10,12,14
y=[]
for i in x:
  y.append(i*2)
print(y)

[2, 4, 6, 8, 10, 12, 14]

In [96]:
x=[1,2,3,4,5,6,7]#comprehension method
y=[i*2 for i in x]
print(y)

[2, 4, 6, 8, 10, 12, 14]

In [100]:
mylist=[1000,20,20120,50,95,1021] #conventional
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [101]:
mylist=[1000,20,20120,50,95,1021] #comprehension
mynewlist=[i for i in mylist if i<100]
print(mynewlist)

[20, 50, 95]

In [103]:
mylist=[i for i in range(0,11)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
mylist=["Michael", "Sean", "Adam"]
mynewlist=[i.upper() for i in mylist]
print(mynewlist)

['MICHAEL', 'SEAN', 'ADAM']

In [107]:
mystring=[letter.upper() for letter in "python"]
print(mystring)

['P', 'Y', 'T', 'H', 'O', 'N']

In [118]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]
rows=len(matrix)
cols=(len(matrix[0]))
print(rows)
print(cols)
for i in range(0, rows):
  print(matrix[i])

4
3
[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

In [120]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
print(mydict["employee"])

Zara

In [121]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
print(mydict.keys())

dict_keys(['employee', 'department', 'salary'])

In [122]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
print(mydict.items())

dict_items([('employee', 'Zara'), ('department', 'operations'), ('salary', 5000)])

In [123]:

mydict["department"]="accounts"mydict={"employee": "Zara", "department": "operations", "salary": 5000}
print(mydict)

{'employee': 'Zara', 'department': 'accounts', 'salary': 5000}

In [124]:
mydict={}
print(len(mydict))

3

In [129]:
mydict={
    1:{"employee": "Zara", "department": "operations", "salary": 5000},
    2:{"employee": "Zara", "department": "accounts", "salary": 4000}
    }
mydict[2]

{'employee': 'Zara', 'department': 'accounts', 'salary': 4000}

In [131]:
mydict={
    1:{"employee": "Zara", "department": "operations", "salary": 5000},
    2:{"employee": "Zara", "department": "accounts", "salary": 4000}
    }
mydict[2]["employee"]

'Zara'

In [132]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
if "employee" in mydict:
  print("Yes the key employee exist")

Yes the key employee exist

In [135]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
mydict.update({"employee":"John"})
print(mydict)

{'employee': 'John', 'department': 'operations', 'salary': 5000}

In [136]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
mydict.pop("salary")
print(mydict)

{'employee': 'Zara', 'department': 'operations'}

In [137]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
del mydict["salary"]
print(mydict)

{'employee': 'Zara', 'department': 'operations'}

In [138]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
mydict.clear()
print(mydict)

{}

In [141]:
mydict={"employee": "Zara", "department": "operations", "salary": 5000}
for i in mydict.keys():
  print(i)

employee
department
salary

In [144]:
mydict={"trousers":"ella", "skirt":"anita", "shirt":"jasmine", "cardigan":"georgia"}
del mydict["shirt"]
print(mydict)

{'trousers': 'ella', 'skirt': 'anita', 'cardigan': 'georgia'}

In [145]:
mydict={"trousers":"ella", "skirt":"anita", "shirt":"jasmine", "cardigan":"georgia"}
mydict.update({"skirt":"Zita"})
print(mydict)

{'trousers': 'ella', 'skirt': 'Zita', 'shirt': 'jasmine', 'cardigan': 'georgia'}

# **Tuple**

Ordered, unchangeable, allows duplcates

In [148]:
mytuples=("Audi", "Ford", "Tesla", 5000, True)
mytuples[0:3]

('Audi', 'Ford', 'Tesla')

In [149]:
mytuples=("Audi", "Ford", "Tesla", 5000, True)
type(mytuples)

tuple

# **Sets**

Unordered, unchangeable*, not allow duplicates{}

In [156]:
myset={"Audi", "Ford", "Tesla", 5000, True}
type(myset)

set

In [157]:
myset={"Audi", "Ford", "Tesla", 5000, True}
len(myset)

5

In [158]:
myset={"Audi", "Ford", "Tesla", 5000, True}
for i in myset:
  print(i)

True
Ford
5000
Tesla
Audi

In [159]:
myset={"Audi", "Ford", "Tesla", 5000, True}
myset.add("BMW")
print(myset)

{True, 'Ford', 5000, 'Tesla', 'Audi', 'BMW'}

In [160]:
myset={"Audi", "Ford", "Tesla", 5000, True}
myset.pop()
print(myset)

{'Ford', 5000, 'Tesla', 'Audi'}

In [162]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset3=myset1.intersection(myset2)
print(myset2)

{1, 2, 3, 4, 5, 6}

In [163]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issubset(myset2)

True

In [164]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issuperset(myset2)

False

In [165]:
import numpy as np

In [166]:
import pandas as pd

In [167]:
import seaborn as sns

In [168]:
import matplotlib.pyplot as plt

In [169]:
import math

In [170]:
import scipy

In [171]:
import pyodbc

ModuleNotFoundError: ignored

In [172]:
!pip install pyodbc
import pyodbc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodbc
  Downloading pyodbc-4.0.34-cp37-cp37m-manylinux_2_24_x86_64.whl (472 kB)
     |████████████████████████████████| 472 kB 3.9 MB/s
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.34